.footer {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    border-radius: 8px;
    padding: 20px 25px;
}
.footer .footer_copyright {
    font-size: small;
    text-align: end;
    color: var(--tertiary-color);
}
.footer .footer_copyright > a {
    text-decoration: none !important;
    color: var(--secondary-color);
}