.profile {
    background-color: white !important;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
}
.profile_name {
    line-height: 10px;
    padding: 20px;
}
.profile_name .name {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}
.profile_name .title {
    font-size: 13px;
    color: #777;

}
.profile_image {
    margin-top: -10px;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}
.profile_image img {
    width: 100%;
}


.profile_information {
    top:0;
    left: 0;
    margin: -40px 10px 30px;
}

.profile_information .timeline .timeline_content {
    margin-top: 2px;
    margin-bottom: 10px;
}
.timeline_text {
    font-size: 12.5px !important;
    color: var(--secondary-color);
    font-weight: 400;
}
.timeline_text a {
    text-decoration: none !important;
    color: var(--secondary-color);
}
.timeline_text > span {
    color: var(--primary-color);
}
.profile .button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}